.main {
    min-height: 120vh;
    background-image: url(../logo-nav.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

    main{

        h1{
            color: white;
        }
        p{
            color: white;
        }
    }

    .card-text {
        color: black; }
